:root {
    --primary-color: #2B5748;
    --secondary-color: #9CB080;
    --accent-color: #FFFF00;
    --text-color: #000000;
    --text-color2: #fff ; 
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333333;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f6f8;
}
header, section {
    background: #ffffff;
    padding: 25px;
     margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
h1, h2, h3 {
    color: #1a252c;
    border-bottom: 2px solid #2ecc71;
    padding-bottom: 5px;
}
.color-palette {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.color-box {
    padding: 15px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}
.onee {
    background-color: var(--primary-color);
    color: var(--text-color2);
}
.twow {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.threee {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: 1px solid #ccc;
}
.wireframe-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.wireframe-box {
    border: 2px dashed #95a5a6;
    padding: 15px;
    background: #fafafa;
    flex: 1;
    min-width: 250px;
}