* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333333;
    padding: 30px 20px;
    font-size: 20px;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 15px 5px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0px 140px;
}
section{
    display: flex;
}
main{
    font-size: 15px;
    background-color: #CCCCCC;
    width: 73%;
    height: 340px;
    padding: 10px;
}
aside{
    font-size: 15px;
    background-color: #FFFFFF;
    width: 27%;
    height: 340px;
    padding: 10px;

}
footer{
    text-align: center;
    background-color: #333333;
    padding: 5px;
    height: 132px;
    font-size: 15px;
    color: white;
}