* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
:root {
    --primary-color: #2B5748;
    --secondary-color: #9CB080;
    --accent-color: #FFFF00;
    --text-color: #000000;
    --text-color2: #ffffff ; 
}
header {
    background-color: #9CB080; 
    padding-bottom: 10px;
}
header h1 {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    font-size: 25px;
    color: var(--text-color2);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
main picture {
    width: 100%;
}
picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
section {
    width: 100%;
    padding: 1rem 2rem;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}
section h2 {
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    padding: 0.5rem 0;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
section p {
    margin-bottom: 0.4rem;
}
.weather-img {
    width: 70px;
    display: block;
    margin: 0px auto 15px auto;
}
footer {
    background-color: var(--primary-color);
    padding: 16px;
    text-align: center;
    color: var(--text-color2);
}
footer p::after {
    content: " 🌴";
}
#lastModified {
    color: var(--accent-color);
}
@media (min-width: 701px) {
    main {
        display: grid;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-columns: 1fr 2fr 1fr;
        height: 502px;
    }
    .weather-img {
        display: none;
    }
    main picture {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        height: 100%;
    }
    picture img {
        height: 100%;
    }
    section {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 1rem;
        border-radius: 8px;
        width: 260px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        margin: 15px;
    }
    section h2 {
        background-color: var(--primary-color);
        color: var(--text-color2);
        text-align: center;
        padding: 8px 12px;
        margin: -1rem -1rem 1rem -1rem; 
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size: 1.2rem;
    }
    .section1 {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
        justify-self: start;
    }
    .section2 {
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        justify-self: end;
    }
}